.brandBlueColorWhiteText { background-color:#243e90!important; color:#fff!important;}
.brandWhiteColorBlueText { background-color:#fff!important; color:#243e90!important;}

.raleway {
  font-family:Raleway, sans-serif !important;
}
.sourceSans {
  font-family:"Source Sans Pro", sans-serif !important;
}
.playfair {
  font-family:"Playfair Display", serif !important;
}
.georgia {
  font-family:Georgia, serif !important;
}

.sidebar .mainMenu li a {
  font-size: 22px;
  font-weight: 700;
}

/* Last Slide (index.html) */
.white.facebook, .white.instagram, .white.linkedin, .white.twitter {
  background-color: #fff !important;
}

.button.white svg {
  fill: #303030 !important;
}

.sidebar .social li a svg {
  width: 25px;
  height: 25px;
}

/* ipad pro */
@media screen and (max-width:1025px) {
  .compact .center p {
    font-size: 17px; /* original: 26px; */
  }
}

/* ipad */
@media screen and (max-width:769px) {
  .compact .center p {
    font-size: 17px; /* original: 26px; */
  }
}

/* iphone 6+ */
@media screen and (max-width:415px) {
  .compact .center p {
    font-size: 16px; /* original: 26px; */
  }
}

/* iphone 6 */
@media screen and (max-width:376px) {
  .compact .center p {
    font-size: 16px; /* original: 26px; */
  }
}

/* iphone 5 */
@media screen and (max-width:321px) {
  .compact .center p {
    font-size: 16px; /* original: 26px; */
  }
}
