.ultraBold {
  font-weight: 900;
}

/* all pages */
.page-loaded .slides:not(.firstSlide) .panel.top {
  background:rgba(255,255,255,.975);
  border-bottom:1px solid #ebebeb;
  color:#257ec2;
  padding-top: 14px;
  padding-bottom: 14px;
}
.page-loaded .slides:not(.firstSlide) .panel.top svg {
   fill:#257ec2;
}
.page-loaded .slides:not(.firstSlide) .panel .menuButton {
   background:#257ec2;
   color:#257ec2;
}
.customHeader {
  letter-spacing: 0.12em !important;
  line-height: 1.16 !Important;
}
#menu-logo {
  width: 35px;
  height: 35px;
}

/* colors */
.brandBlueColorWhiteText { background-color:#257ec2!important; color:#fff!important;}
.brandWhiteColorBlueText { background-color:#fff!important; color:#257ec2!important;}

/* fonts */
.raleway {
  font-family:Raleway, sans-serif !important;
}
.sourceSans {
  font-family:"Source Sans Pro", sans-serif !important;
}
.playfair {
  font-family:"Playfair Display", serif !important;
}
.georgia {
  font-family:Georgia, serif !important;
}

/* index.html */
.white.facebook, .white.instagram, .white.linkedin, .white.twitter {
  background-color: #fff !important;
}
.button.white svg {
  fill: #303030 !important;
}

/* sidebar */
.sidebar .social li a svg {
  width: 25px;
  height: 25px;
}
.sidebar .mainMenu li a {
  font-size: 22px;
  font-weight: 700;
}

@media (max-width: 767px) {
  h1, .h1, h1.huge, .h1.huge, h1.big, .h1.big {
    font-size: 42px;
  }
}

/* footer */
@media screen and (max-width:1025px) { /* ipad pro */
  .compact .center p {
    font-size: 24px;
  }
}
@media screen and (max-width:769px) { /* ipad */
  .compact .center p {
    font-size: 22px;
  }
}
@media screen and (max-width:415px) { /* iphone 6+ */
  .compact .center p {
    font-size: 19px;
  }
}
@media screen and (max-width:376px) { /* iphone 6 */
  .compact .center p {
    font-size: 18px;
  }
}
@media screen and (max-width:321px) { /* iphone 5 */
  .compact .center p {
    font-size: 17px;
  }
}

/* manufacturing.html */
.slides.whiteSlide .panel .button.menuButton.stroke {
  color: #257ec2;
}

#smallerTwitterIcon {
  padding: 15px;
}
